body {
	font:12px arial;background:#fff; margin: 0px; color: #2d465f; 
}
img {
	border:0
}
input textarea {
	font:12px arial;
}
/* left menu */
.leftmenu_bd {  border-color: #4880BD; border-style: solid; border-width: 0px 1px 0px 0px; height:100% }
.menulist {
	color: #384f67; 
	text-decoration: none;
	font-size:12px;
}
a.menulist:link {
	color: #384f67; 
	text-decoration: none;
	font-size:12px;
}
a.menulist:visited {
	color: #384f67; 
	text-decoration: none;
	font-size:12px;
}
		
a.menulist:hover {
	color: #ff0000; 
	font-size:12px;
	background-color:#eefffe;
}
/*create page*/
.table_main{
	width: 100%; border: 0px
}
.table_nav1 {
	background-image: url(../images/admin_top_bg.gif); line-height: 30px; width:100%
}
.table_nav1 .title {
	color: #4B6888;	font-size: 14px; text-decoration: none; font-weight: bold; PADDING-LEFT: 14px
}

.table_nav2 {
	border: #e2f2f3 1px solid; margin-top: 5px; background: #f5fbfe; margin-bottom: 5px; line-height: 20px; width: 100%
}
.table_nav2  td{
	padding-left: 15px;
}
.table_nav2  span{
	padding-right:5px
}
.table_nav2 .relatelink {
	color: #395575
}
a.relatelink:link {
	color: #395575; text-decoration: none
}
a.relatelink:visited {
	color: #395575; text-decoration: none
}
a.relatelink:hover {
	color: #ff0000; text-decoration: none
}
.table_message {
	border: #c9deec 1px solid; margin-top: 5px; margin-bottom: 5px; background: #e4f3fc; width:98%;
}
.table_message span{
	line-height: 18px; color: #ff0000; 
}
.table_field {
	border: #c9deec 1px solid; background: #e4f3fc; width:98%;
}
.tr_title{
	background-color: #dae9f5
}
.tr_title td{
	font-weight: bold; height: 25px; 
}
.tr_field {
	background-color: #f8fdff
}
.td_field_label {
	width: 13%; text-align: right; height: 29px
}
.td_field_input {
	width: 25%;
}
.td_field_info {
	width: 62%
}
.td_server_label {
	width: 23%; text-align: left; height: 29px
}
.td_server_info {
	width: 77%
}
.input_mandatory {
	color: #ff0000; padding:0px 3px 0px 0px;
}
.long_input {
	width:300px; height:18px;
}
.normal_input {
	width:150px; height:18px;
}
.short_input {
	width:60px; height:18px;
}
.multiple_input {
	width:400px; height:80px; font:13px arial;
}
.long_select {
	width:300px;
}
.normal_select {
	width:150px;
}
.short_select {
	width:60px;
}
.date_input {
	width:63px;	height:18px;
}
/* gridview*/
.gridview_table 
{
  border :1px solid #a0b1c1;  
  border-collapse:collapse;
  border-spacing:0px;  
  background-color:#F5F8Fa;
  text-align:left;
}
.gridview_header{
 color:#FFFFFF; 
 text-align:center; 
 font-weight:bold;
 background:url(../images/gridview/titlebg.gif);
}
.gridview_lefttd{
  border:1px solid #a0b1c1;  
  padding:2px;
  height:23px;
  margin:2px;
  text-indent:10px;
  text-align:left !important  
}
.gridview_table td{
  border:1px solid #a0b1c1;  
  padding:2px;
  height:23px;
  margin:2px;  
  text-align:center;
}
.gridview_table th{
  border:1px solid #a0b1c1;  
  padding:2px;
  height:23px;
  margin:2px;  
  text-align:center;
}
.gridview_pagenum
{
	font-size:11.5px;	
	font-family:verdana;
}
.list_link {
		color: #395575;
		font-size: 12px;
		text-decoration: none;
		height:25px;

		}
a.list_link:link 
		{
		color: #395575; 
		text-decoration: none;
		line-height:20px;
		font-size:12px;
		}
a.list_link:visited 
		{
		color: #395575; 
		text-decoration: none;
		line-height:20px;
		font-size:12px;
		}
a.list_link:hover 
		{
		color: #ff0000; 
		text-decoration: underline;
		line-height:20px;
		font-size:12px;
		}
/*button*/
.btn_mouseout {
	border-right: #2c59aa 1px solid; padding-right: 2px; border-top: #2c59aa 1px solid; padding-left: 2px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, 
startcolorstr=#ffffff, endcolorstr=#c3daf5); border-left: #2c59aa 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #2c59aa 1px solid
}
.btn_mouseover {
	border-right: #2c59aa 1px solid; padding-right: 2px; border-top: #2c59aa 1px solid; padding-left: 2px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, 
startcolorstr=#ffffff, endcolorstr=#d7e7fa); border-left: #2c59aa 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #2c59aa 1px solid
}
.btn_mousedown {
	border-right: #ffe400 1px solid; padding-right: 2px; border-top: #ffe400 1px solid; padding-left: 2px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, 
startcolorstr=#ffffff, endcolorstr=#c3daf5); border-left: #ffe400 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #ffe400 1px solid
}
.btn_mouseup {
	border-right: #2c59aa 1px solid; padding-right: 2px; border-top: #2c59aa 1px solid; padding-left: 2px; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, 
startcolorstr=#ffffff, endcolorstr=#c3daf5); border-left: #2c59aa 1px solid; cursor: hand; color: black; padding-top: 2px; border-bottom: #2c59aa 1px solid
}
/*bottom*/
.copyright {
	border:0; background-image: url(../images/bottom_bg.gif); margin-top: 20px; margin-bottom: 20px; text-align:center; width:100%;
}
.copyright span{
	font-size: 11px; font-family: arial;
}
.copyright a{
	font-family:arial;color:#006699;font-size:11.5px;text-decoration:none;
}