body,td,th {
	font-family:  Verdana, Arial ,ו,sans-serif, serif;
	font-size: 12px;
	color: #000000;
}
body {	
	margin: 0;
	padding:0;		
}
/* left menu */
.leftmenu_bd {  border-color: #4880BD; border-style: solid; border-width: 0px 1px 0px 0px; height:100% }
.menulist {
	color: #384f67; 
	text-decoration: none;
	font-size:12px;
}
a.menulist:link {
	color: #384f67; 
	text-decoration: none;
	font-size:12px;
}
a.menulist:visited {
	color: #384f67; 
	text-decoration: none;
	font-size:12px;
}
		
a.menulist:hover {
	color: #ff0000; 
	font-size:12px;
	background-color:#eefffe;
}
