USE [SEHome]
GO
/****** Object:  Table [dbo].[seh_websitecategory]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seh_websitecategory](
	[WebsiteCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[WebsiteCategoryName] [nvarchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_CMS_SiteCategory] PRIMARY KEY CLUSTERED 
(
	[WebsiteCategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Website Category Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_websitecategory', @level2type=N'COLUMN',@level2name=N'WebsiteCategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Website Category Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_websitecategory', @level2type=N'COLUMN',@level2name=N'WebsiteCategoryName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_websitecategory', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_websitecategory] ON
INSERT [dbo].[seh_websitecategory] ([WebsiteCategoryId], [WebsiteCategoryName], [Sequence]) VALUES (1, N'SAP', 1)
INSERT [dbo].[seh_websitecategory] ([WebsiteCategoryId], [WebsiteCategoryName], [Sequence]) VALUES (2, N'编程开发', 2)
INSERT [dbo].[seh_websitecategory] ([WebsiteCategoryId], [WebsiteCategoryName], [Sequence]) VALUES (3, N'生活游戏', 3)
SET IDENTITY_INSERT [dbo].[seh_websitecategory] OFF
/****** Object:  Table [dbo].[seh_website]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seh_website](
	[WebsiteId] [int] IDENTITY(1,1) NOT NULL,
	[WebsiteName] [nvarchar](50) NOT NULL,
	[WebsiteCategoryId] [int] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[URL] [varchar](200) NOT NULL,
	[Hits] [int] NOT NULL,
	[IsDisplay] [bit] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedByName] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[UpdatedById] [int] NOT NULL,
	[UpdatedByName] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_CMS_Site] PRIMARY KEY CLUSTERED 
(
	[WebsiteId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Website Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'WebsiteId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Website Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'WebsiteName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Website Category' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'WebsiteCategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'URL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'URL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hits' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'Hits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Display' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'IsDisplay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'CreatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'CreatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'UpdatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'UpdatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'UpdatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_website', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_website] ON
INSERT [dbo].[seh_website] ([WebsiteId], [WebsiteName], [WebsiteCategoryId], [Description], [URL], [Hits], [IsDisplay], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (1, N'个人公积金', 3, N'查询个人公积金交费情况', N'https://persons.shgjj.com/', 0, 0, CAST(0x0000A03300A8EEC1 AS DateTime), 1, N'admin', CAST(0x0000A04100AB97CE AS DateTime), 1, N'admin', 1)
INSERT [dbo].[seh_website] ([WebsiteId], [WebsiteName], [WebsiteCategoryId], [Description], [URL], [Hits], [IsDisplay], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (2, N'个人社保', 3, N'查询个人社保缴费情况，包括养老金等', N'http://www.12333sh.gov.cn/200912333/2009wsbs/grbs/shbx/01/200909/t20090917_1085043.shtml', 0, 1, CAST(0x0000A04100ABC414 AS DateTime), 1, N'admin', CAST(0x0000A04100ABC414 AS DateTime), 1, N'admin', 2)
INSERT [dbo].[seh_website] ([WebsiteId], [WebsiteName], [WebsiteCategoryId], [Description], [URL], [Hits], [IsDisplay], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (3, N'IMO', 3, N'网页版即时聊天工具，可登录MSN，GTalk等', N'https://imo.im/', 0, 1, CAST(0x0000A04100AC4AA9 AS DateTime), 1, N'admin', CAST(0x0000A04100AC4AA9 AS DateTime), 1, N'admin', 3)
SET IDENTITY_INSERT [dbo].[seh_website] OFF
/****** Object:  Table [dbo].[seh_software]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seh_software](
	[SoftwareId] [int] IDENTITY(1,1) NOT NULL,
	[SoftwareName] [varchar](200) NOT NULL,
	[ShortDescription] [varchar](500) NULL,
	[Description] [text] NULL,
	[Image] [varchar](200) NULL,
	[Feature1] [varchar](100) NULL,
	[Feature2] [varchar](100) NULL,
	[Feature3] [varchar](100) NULL,
	[Feature4] [varchar](100) NULL,
	[DownloadUrl] [varchar](500) NULL,
	[DocumentTitle] [varchar](100) NULL,
	[DocumentDescription] [varchar](500) NULL,
	[DocumentUrl] [varchar](500) NULL,
	[Hits] [int] NOT NULL,
	[Downloads] [int] NOT NULL,
	[IsDisplay] [bit] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedByName] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[UpdatedById] [int] NOT NULL,
	[UpdatedByName] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[SoftwareId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Software Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'SoftwareId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Software Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'SoftwareName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Short Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'ShortDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Image' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'Image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Feature1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'Feature1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Feature2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'Feature2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Feature3' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'Feature3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Feature4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'Feature4'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Download Url' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'DownloadUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Document Title' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'DocumentTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Document Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'DocumentDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Document Url' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'DocumentUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hits' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'Hits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Downloads' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'Downloads'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Display' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'IsDisplay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'CreatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'CreatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'UpdatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'UpdatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'UpdatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_software', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_software] ON
SET IDENTITY_INSERT [dbo].[seh_software] OFF
/****** Object:  Table [dbo].[seh_release]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seh_release](
	[ReleaseId] [int] IDENTITY(1,1) NOT NULL,
	[SoftwareId] [int] NOT NULL,
	[ReleaseName] [varchar](100) NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[Description] [text] NULL,
	[Hits] [int] NOT NULL,
	[Downloads] [int] NOT NULL,
	[IsDisplay] [bit] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedByName] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[UpdatedById] [int] NOT NULL,
	[UpdatedByName] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_Software_Release] PRIMARY KEY CLUSTERED 
(
	[ReleaseId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Release Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'ReleaseId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Software' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'SoftwareId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Release Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'ReleaseName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Release Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'ReleaseDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hits' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'Hits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Downloads' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'Downloads'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Display' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'IsDisplay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'CreatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'CreatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'UpdatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'UpdatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'UpdatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_release', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_release] ON
SET IDENTITY_INSERT [dbo].[seh_release] OFF
/****** Object:  Table [dbo].[seh_opensource]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seh_opensource](
	[OpenSourceId] [int] IDENTITY(1,1) NOT NULL,
	[OpenSourceName] [nvarchar](50) NOT NULL,
	[ShortDescription] [nvarchar](200) NULL,
	[Description] [text] NOT NULL,
	[URL] [varchar](200) NULL,
	[Hits] [int] NOT NULL,
	[IsDisplay] [bit] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedByName] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[UpdatedById] [int] NOT NULL,
	[UpdatedByName] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_seh_opensource] PRIMARY KEY CLUSTERED 
(
	[OpenSourceId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'OpenSource Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'OpenSourceId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'OpenSource Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'OpenSourceName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Short Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'ShortDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'URL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'URL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hits' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'Hits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Display' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'IsDisplay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'CreatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'CreatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'UpdatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'UpdatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'UpdatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_opensource', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_opensource] ON
INSERT [dbo].[seh_opensource] ([OpenSourceId], [OpenSourceName], [ShortDescription], [Description], [URL], [Hits], [IsDisplay], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (1, N'log4.net', N'日志', N'日志日志日志日志', N'http://logging.apache.org/log4net', 0, 1, CAST(0x0000A11A0135E2D4 AS DateTime), 1, N'admin', CAST(0x0000A11A0138E724 AS DateTime), 1, N'admin', 1)
INSERT [dbo].[seh_opensource] ([OpenSourceId], [OpenSourceName], [ShortDescription], [Description], [URL], [Hits], [IsDisplay], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (2, N'FCK Editor', N'网页内容编辑器', N'<p>sdfsdfs;ldfk;skf;skdf</p>', N'http://www.fckeditor.net/', 0, 1, CAST(0x0000A11A01361D0D AS DateTime), 1, N'admin', CAST(0x0000A11A01387397 AS DateTime), 1, N'admin', 2)
INSERT [dbo].[seh_opensource] ([OpenSourceId], [OpenSourceName], [ShortDescription], [Description], [URL], [Hits], [IsDisplay], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (3, N'DockPanel', N'仿Visual Studio Dock控件', N'仿Visual&nbsp;Studio&nbsp;Dock控件仿Visual&nbsp;Studio&nbsp;Dock控件', N'http://localhost:1923/DockPanel', 0, 1, CAST(0x0000A11A01393BB3 AS DateTime), 1, N'admin', CAST(0x0000A11A01393BB3 AS DateTime), 1, N'admin', 3)
SET IDENTITY_INSERT [dbo].[seh_opensource] OFF
/****** Object:  Table [dbo].[seh_channel]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seh_channel](
	[ChannelId] [int] IDENTITY(1,1) NOT NULL,
	[ChannelName] [nvarchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_C_NewsCategory] PRIMARY KEY CLUSTERED 
(
	[ChannelId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Channel Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_channel', @level2type=N'COLUMN',@level2name=N'ChannelId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Channel Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_channel', @level2type=N'COLUMN',@level2name=N'ChannelName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_channel', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_channel] ON
INSERT [dbo].[seh_channel] ([ChannelId], [ChannelName], [Sequence]) VALUES (1, N'热点转贴1', 0)
INSERT [dbo].[seh_channel] ([ChannelId], [ChannelName], [Sequence]) VALUES (2, N'.NET2', 1)
INSERT [dbo].[seh_channel] ([ChannelId], [ChannelName], [Sequence]) VALUES (3, N'SAP34', 2)
SET IDENTITY_INSERT [dbo].[seh_channel] OFF
/****** Object:  Table [dbo].[seh_bulletin]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seh_bulletin](
	[BulletinId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [text] NOT NULL,
	[URL] [varchar](200) NULL,
	[Hits] [int] NOT NULL,
	[IsDisplay] [bit] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedByName] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[UpdatedById] [int] NOT NULL,
	[UpdatedByName] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_C_Bulletin] PRIMARY KEY CLUSTERED 
(
	[BulletinId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bulletin Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'BulletinId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Title' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Content' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'Content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'URL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'URL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hits' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'Hits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IsDisplay' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'IsDisplay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'CreatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'CreatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'UpdatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'UpdatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'UpdatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bulletin', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_bulletin] ON
INSERT [dbo].[seh_bulletin] ([BulletinId], [Title], [Content], [URL], [Hits], [IsDisplay], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (1, N'Johnny的个人网站发布啦！', N'sdafasd', N'', 0, 0, CAST(0x00009CF300F1D04C AS DateTime), 2, N'admin', CAST(0x0000A0340160766B AS DateTime), 1, N'admin', 1)
SET IDENTITY_INSERT [dbo].[seh_bulletin] OFF
/****** Object:  Table [dbo].[seh_blogcategory]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[seh_blogcategory](
	[BlogCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[BlogCategoryName] [nvarchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_C_BlogCategory] PRIMARY KEY CLUSTERED 
(
	[BlogCategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Blog Category Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blogcategory', @level2type=N'COLUMN',@level2name=N'BlogCategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Blog Category Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blogcategory', @level2type=N'COLUMN',@level2name=N'BlogCategoryName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blogcategory', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_blogcategory] ON
INSERT [dbo].[seh_blogcategory] ([BlogCategoryId], [BlogCategoryName], [Sequence]) VALUES (1, N'我的生活', 1)
INSERT [dbo].[seh_blogcategory] ([BlogCategoryId], [BlogCategoryName], [Sequence]) VALUES (2, N'SAP', 2)
INSERT [dbo].[seh_blogcategory] ([BlogCategoryId], [BlogCategoryName], [Sequence]) VALUES (3, N'dotNet', 3)
SET IDENTITY_INSERT [dbo].[seh_blogcategory] OFF
/****** Object:  Table [dbo].[seh_blog]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seh_blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[BlogCategoryId] [int] NOT NULL,
	[Tag] [varchar](100) NULL,
	[Content] [text] NOT NULL,
	[Hits] [int] NOT NULL,
	[IsDisplay] [bit] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedByName] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[UpdatedById] [int] NOT NULL,
	[UpdatedByName] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_C_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Blog Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'BlogId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Title' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Blog Category' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'BlogCategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tag' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'Tag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Content' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'Content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hits' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'Hits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Display' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'IsDisplay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'CreatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'CreatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'UpdatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'UpdatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'UpdatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_blog', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_blog] ON
INSERT [dbo].[seh_blog] ([BlogId], [Title], [BlogCategoryId], [Tag], [Content], [Hits], [IsDisplay], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (2, N'ABAP Performance', 2, N'', N'ABAP&nbsp;PerformanceABAP&nbsp;PerformanceABAP&nbsp;PerformanceABAP&nbsp;PerformanceABAP&nbsp;PerformanceABAP&nbsp;PerformanceABAP&nbsp;PerformanceABAP&nbsp;Performance', 0, 1, CAST(0x0000A113013AE307 AS DateTime), 1, N'admin', CAST(0x0000A113013AE307 AS DateTime), 1, N'admin', 2)
INSERT [dbo].[seh_blog] ([BlogId], [Title], [BlogCategoryId], [Tag], [Content], [Hits], [IsDisplay], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (3, N'C#性能', 3, N'', N'C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能C#性能', 0, 1, CAST(0x0000A113013B0F3D AS DateTime), 1, N'admin', CAST(0x0000A113013B0F3D AS DateTime), 1, N'admin', 3)
SET IDENTITY_INSERT [dbo].[seh_blog] OFF
/****** Object:  Table [dbo].[seh_bestpractice]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seh_bestpractice](
	[BestPracticeId] [int] IDENTITY(1,1) NOT NULL,
	[BestPracticeName] [nvarchar](50) NOT NULL,
	[ShortDescription] [nvarchar](200) NULL,
	[Description] [text] NOT NULL,
	[Hits] [int] NOT NULL,
	[IsDisplay] [bit] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedByName] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[UpdatedById] [int] NOT NULL,
	[UpdatedByName] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_seh_bestpractice] PRIMARY KEY CLUSTERED 
(
	[BestPracticeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Best Practice Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'BestPracticeId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Best Practice Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'BestPracticeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Short Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'ShortDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hits' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'Hits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Display' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'IsDisplay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CreatedTime' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'CreatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'CreatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'UpdatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'UpdatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'UpdatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_bestpractice', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_bestpractice] ON
SET IDENTITY_INSERT [dbo].[seh_bestpractice] OFF
/****** Object:  Table [dbo].[seh_article]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seh_article](
	[ArticleId] [bigint] IDENTITY(1,1) NOT NULL,
	[ChannelId] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[SubTitle] [nvarchar](200) NULL,
	[KeyWord] [nvarchar](100) NULL,
	[SubContent] [varchar](500) NULL,
	[Content] [text] NOT NULL,
	[FirstImage] [varchar](500) NULL,
	[CopyFrom] [varchar](500) NULL,
	[Hits] [int] NOT NULL,
	[IsTop] [bit] NOT NULL,
	[IsElite] [bit] NOT NULL,
	[IsPic] [bit] NOT NULL,
	[IsPageType] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedByName] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[UpdatedById] [int] NOT NULL,
	[UpdatedByName] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Article Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'ArticleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Channel Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'ChannelId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Title' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sub Title' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'SubTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'KeyWord' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'KeyWord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sub Content' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'SubContent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Content' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'Content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'First Image' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'FirstImage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Copy From' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'CopyFrom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hits' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'Hits'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Top' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'IsTop'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Elite' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'IsElite'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Picture' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'IsPic'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Page Type' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'IsPageType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Verified' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'IsVerified'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'CreatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'CreatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'UpdatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'UpdatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'UpdatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'seh_article', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[seh_article] ON
INSERT [dbo].[seh_article] ([ArticleId], [ChannelId], [Title], [SubTitle], [KeyWord], [SubContent], [Content], [FirstImage], [CopyFrom], [Hits], [IsTop], [IsElite], [IsPic], [IsPageType], [IsVerified], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (1, 1, N'johnny的cms发布啦', N'', N'', N'', N'事大法师地方', N'aaa', N'', 0, 0, 1, 1, 0, 1, CAST(0x00009EEE0167E3BB AS DateTime), 1, N'admin', CAST(0x0000A03401125284 AS DateTime), 1, N'admin', 1)
SET IDENTITY_INSERT [dbo].[seh_article] OFF
/****** Object:  Table [dbo].[cms_websettings]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cms_websettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WebsiteName] [nvarchar](40) NOT NULL,
	[WebsiteTitle] [nvarchar](100) NOT NULL,
	[ShortDescription] [varchar](500) NULL,
	[Tel] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[WebsiteAddress] [varchar](200) NOT NULL,
	[WebsitePath] [varchar](50) NOT NULL,
	[FileSize] [int] NOT NULL,
	[LogoPath] [varchar](100) NOT NULL,
	[BannerPath] [varchar](100) NOT NULL,
	[Copyright] [nvarchar](500) NULL,
	[MetaKeywords] [nvarchar](100) NULL,
	[MetaDescription] [nvarchar](400) NULL,
	[IsClosed] [bit] NOT NULL,
	[ClosedInfo] [nvarchar](1000) NULL,
	[UserAgreement] [text] NULL,
	[LoginType] [bit] NOT NULL,
 CONSTRAINT [PK_cms_websettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号（自动加1）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'网站名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'WebsiteName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'网站标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'WebsiteTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'网站简介' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'ShortDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'联系电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'Tel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'传真' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'Fax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电子邮件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'网址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'WebsiteAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'安装路径' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'WebsitePath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上传文件大小' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'FileSize'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'LOGO地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'LogoPath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Banner地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'BannerPath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'版权信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'Copyright'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'网站关键词' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'MetaKeywords'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'网站描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'MetaDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否关闭网站' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'IsClosed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'关闭网站描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'ClosedInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户协议' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'UserAgreement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'后台登陆方式' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_websettings', @level2type=N'COLUMN',@level2name=N'LoginType'
GO
SET IDENTITY_INSERT [dbo].[cms_websettings] ON
SET IDENTITY_INSERT [dbo].[cms_websettings] OFF
/****** Object:  Table [dbo].[cms_topmenubinding]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_topmenubinding](
	[TopMenuId] [int] NOT NULL,
	[MenuCategoryId] [int] NOT NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Top Menu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_topmenubinding', @level2type=N'COLUMN',@level2name=N'TopMenuId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menu Category' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_topmenubinding', @level2type=N'COLUMN',@level2name=N'MenuCategoryId'
GO
INSERT [dbo].[cms_topmenubinding] ([TopMenuId], [MenuCategoryId]) VALUES (5, 7)
INSERT [dbo].[cms_topmenubinding] ([TopMenuId], [MenuCategoryId]) VALUES (5, 8)
INSERT [dbo].[cms_topmenubinding] ([TopMenuId], [MenuCategoryId]) VALUES (5, 9)
/****** Object:  Table [dbo].[cms_topmenu]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cms_topmenu](
	[TopMenuId] [int] IDENTITY(1,1) NOT NULL,
	[TopMenuName] [nvarchar](50) NOT NULL,
	[ToolTip] [nvarchar](50) NOT NULL,
	[PageLink] [varchar](100) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_cms_topmenu2] PRIMARY KEY CLUSTERED 
(
	[TopMenuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Top Menu Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_topmenu', @level2type=N'COLUMN',@level2name=N'TopMenuId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Top Menu Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_topmenu', @level2type=N'COLUMN',@level2name=N'TopMenuName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ToolTip' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_topmenu', @level2type=N'COLUMN',@level2name=N'ToolTip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Default Page' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_topmenu', @level2type=N'COLUMN',@level2name=N'PageLink'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_topmenu', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[cms_topmenu] ON
INSERT [dbo].[cms_topmenu] ([TopMenuId], [TopMenuName], [ToolTip], [PageLink], [Sequence]) VALUES (1, N'Shortcut', N'Shortcut', N'seh/articleadd.aspx', 1)
INSERT [dbo].[cms_topmenu] ([TopMenuId], [TopMenuName], [ToolTip], [PageLink], [Sequence]) VALUES (2, N'Member', N'Member', N'access/profile.aspx', 2)
INSERT [dbo].[cms_topmenu] ([TopMenuId], [TopMenuName], [ToolTip], [PageLink], [Sequence]) VALUES (3, N'&nbsp;&nbsp;CMS', N'Content Management', N'seh/articlelist.aspx', 3)
SET IDENTITY_INSERT [dbo].[cms_topmenu] OFF
/****** Object:  Table [dbo].[cms_rolepermission]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_rolepermission](
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Role' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_rolepermission', @level2type=N'COLUMN',@level2name=N'RoleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Permission' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_rolepermission', @level2type=N'COLUMN',@level2name=N'PermissionId'
GO
INSERT [dbo].[cms_rolepermission] ([RoleId], [PermissionId]) VALUES (1, 11)
INSERT [dbo].[cms_rolepermission] ([RoleId], [PermissionId]) VALUES (1, 18)
INSERT [dbo].[cms_rolepermission] ([RoleId], [PermissionId]) VALUES (1, 12)
/****** Object:  Table [dbo].[cms_role]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_cms_role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Role Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_role', @level2type=N'COLUMN',@level2name=N'RoleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Role Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_role', @level2type=N'COLUMN',@level2name=N'RoleName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_role', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_role', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[cms_role] ON
INSERT [dbo].[cms_role] ([RoleId], [RoleName], [Description], [Sequence]) VALUES (1, N'System Admin', N'System Administrator', 1)
INSERT [dbo].[cms_role] ([RoleId], [RoleName], [Description], [Sequence]) VALUES (2, N'Website Admin', N'Website Administrator', 2)
INSERT [dbo].[cms_role] ([RoleId], [RoleName], [Description], [Sequence]) VALUES (3, N'News Editor', N'News Editor', 3)
SET IDENTITY_INSERT [dbo].[cms_role] OFF
/****** Object:  Table [dbo].[cms_permissioncategory]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_permissioncategory](
	[PermissionCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCategoryName] [nvarchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_cms_permissioncategory] PRIMARY KEY CLUSTERED 
(
	[PermissionCategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Permission Category Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_permissioncategory', @level2type=N'COLUMN',@level2name=N'PermissionCategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Permission Category Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_permissioncategory', @level2type=N'COLUMN',@level2name=N'PermissionCategoryName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_permissioncategory', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[cms_permissioncategory] ON
INSERT [dbo].[cms_permissioncategory] ([PermissionCategoryId], [PermissionCategoryName], [Sequence]) VALUES (1, N'Shortcut', 1)
INSERT [dbo].[cms_permissioncategory] ([PermissionCategoryId], [PermissionCategoryName], [Sequence]) VALUES (2, N'MySpace', 2)
INSERT [dbo].[cms_permissioncategory] ([PermissionCategoryId], [PermissionCategoryName], [Sequence]) VALUES (3, N'News', 3)
SET IDENTITY_INSERT [dbo].[cms_permissioncategory] OFF
/****** Object:  Table [dbo].[cms_permission]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_permission](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](50) NOT NULL,
	[PermissionCategoryId] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_cms_permission] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Permission Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_permission', @level2type=N'COLUMN',@level2name=N'PermissionId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Permission Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_permission', @level2type=N'COLUMN',@level2name=N'PermissionName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Permission Category' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_permission', @level2type=N'COLUMN',@level2name=N'PermissionCategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_permission', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[cms_permission] ON
INSERT [dbo].[cms_permission] ([PermissionId], [PermissionName], [PermissionCategoryId], [Sequence]) VALUES (1, N'Administrator', 7, 1)
INSERT [dbo].[cms_permission] ([PermissionId], [PermissionName], [PermissionCategoryId], [Sequence]) VALUES (2, N'AdminRole', 7, 2)
INSERT [dbo].[cms_permission] ([PermissionId], [PermissionName], [PermissionCategoryId], [Sequence]) VALUES (3, N'Role', 7, 3)
SET IDENTITY_INSERT [dbo].[cms_permission] OFF
/****** Object:  Table [dbo].[cms_pagebinding]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_pagebinding](
	[PageBindingId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[MenuCategoryId] [int] NOT NULL,
	[ListMenuId] [int] NOT NULL,
	[AddMenuId] [int] NOT NULL,
 CONSTRAINT [PK_cms_pagebinding] PRIMARY KEY CLUSTERED 
(
	[PageBindingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Page Binding Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_pagebinding', @level2type=N'COLUMN',@level2name=N'PageBindingId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Title' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_pagebinding', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menu Category' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_pagebinding', @level2type=N'COLUMN',@level2name=N'MenuCategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'List Page' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_pagebinding', @level2type=N'COLUMN',@level2name=N'ListMenuId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Add Page' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_pagebinding', @level2type=N'COLUMN',@level2name=N'AddMenuId'
GO
SET IDENTITY_INSERT [dbo].[cms_pagebinding] ON
INSERT [dbo].[cms_pagebinding] ([PageBindingId], [Title], [MenuCategoryId], [ListMenuId], [AddMenuId]) VALUES (1, N'Administrator', 7, 1, 2)
INSERT [dbo].[cms_pagebinding] ([PageBindingId], [Title], [MenuCategoryId], [ListMenuId], [AddMenuId]) VALUES (2, N'Menu', 8, 12, 13)
INSERT [dbo].[cms_pagebinding] ([PageBindingId], [Title], [MenuCategoryId], [ListMenuId], [AddMenuId]) VALUES (3, N'Menu Category', 8, 14, 15)
SET IDENTITY_INSERT [dbo].[cms_pagebinding] OFF
/****** Object:  Table [dbo].[cms_navigator]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cms_navigator](
	[NavigatorId] [int] NOT NULL,
	[NavigatorName] [nvarchar](50) NOT NULL,
	[Url] [varchar](200) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_cms_navigator] PRIMARY KEY CLUSTERED 
(
	[NavigatorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[cms_navigator] ([NavigatorId], [NavigatorName], [Url], [ParentId]) VALUES (1, N'首页', N'index.aspx', 0)
INSERT [dbo].[cms_navigator] ([NavigatorId], [NavigatorName], [Url], [ParentId]) VALUES (2, N'SAP', N'sap.aspx', 1)
INSERT [dbo].[cms_navigator] ([NavigatorId], [NavigatorName], [Url], [ParentId]) VALUES (3, N'.NET', N'dotnet.aspx', 1)
/****** Object:  Table [dbo].[cms_menucategory]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_menucategory](
	[MenuCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[MenuCategoryName] [nvarchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_cms_menucategory2] PRIMARY KEY CLUSTERED 
(
	[MenuCategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menu Category Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menucategory', @level2type=N'COLUMN',@level2name=N'MenuCategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menu Category Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menucategory', @level2type=N'COLUMN',@level2name=N'MenuCategoryName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menucategory', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[cms_menucategory] ON
INSERT [dbo].[cms_menucategory] ([MenuCategoryId], [MenuCategoryName], [Sequence]) VALUES (1, N'ShortCut', 1)
INSERT [dbo].[cms_menucategory] ([MenuCategoryId], [MenuCategoryName], [Sequence]) VALUES (2, N'MySpace', 2)
INSERT [dbo].[cms_menucategory] ([MenuCategoryId], [MenuCategoryName], [Sequence]) VALUES (3, N'News', 3)
SET IDENTITY_INSERT [dbo].[cms_menucategory] OFF
/****** Object:  Table [dbo].[cms_menu]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cms_menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](50) NOT NULL,
	[MenuCategoryId] [int] NOT NULL,
	[PageLink] [varchar](100) NOT NULL,
	[ToolTip] [nvarchar](100) NULL,
	[Image] [varchar](200) NULL,
	[PermissionId] [int] NOT NULL,
	[IsDisplay] [bit] NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_cms_menu2] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menu Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menu', @level2type=N'COLUMN',@level2name=N'MenuId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menu Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menu', @level2type=N'COLUMN',@level2name=N'MenuName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menu Category' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menu', @level2type=N'COLUMN',@level2name=N'MenuCategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Page Link' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menu', @level2type=N'COLUMN',@level2name=N'PageLink'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ToolTip' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menu', @level2type=N'COLUMN',@level2name=N'ToolTip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Image' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menu', @level2type=N'COLUMN',@level2name=N'Image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Permission' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menu', @level2type=N'COLUMN',@level2name=N'PermissionId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Display in the Menu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menu', @level2type=N'COLUMN',@level2name=N'IsDisplay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_menu', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[cms_menu] ON
INSERT [dbo].[cms_menu] ([MenuId], [MenuName], [MenuCategoryId], [PageLink], [ToolTip], [Image], [PermissionId], [IsDisplay], [Sequence]) VALUES (1, N'Administrator', 7, N'access/administratorlist.aspx', N'', N'', 1, 1, 1)
INSERT [dbo].[cms_menu] ([MenuId], [MenuName], [MenuCategoryId], [PageLink], [ToolTip], [Image], [PermissionId], [IsDisplay], [Sequence]) VALUES (2, N'Add Administrator', 7, N'access/administratoradd.aspx', N'', N'', 1, 0, 2)
INSERT [dbo].[cms_menu] ([MenuId], [MenuName], [MenuCategoryId], [PageLink], [ToolTip], [Image], [PermissionId], [IsDisplay], [Sequence]) VALUES (3, N'AdminRole', 7, N'access/adminrolelist.aspx', N'', N'', 2, 1, 3)
SET IDENTITY_INSERT [dbo].[cms_menu] OFF
/****** Object:  Table [dbo].[cms_mailsettings]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cms_mailsettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SmtpServerIP] [varchar](50) NOT NULL,
	[SmtpServerPort] [int] NOT NULL,
	[MailId] [varchar](100) NOT NULL,
	[MailPassword] [varchar](50) NOT NULL,
 CONSTRAINT [PK_cms_mailsettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号（自动加1）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_mailsettings', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_mailsettings', @level2type=N'COLUMN',@level2name=N'SmtpServerIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Port' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_mailsettings', @level2type=N'COLUMN',@level2name=N'SmtpServerPort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮件地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_mailsettings', @level2type=N'COLUMN',@level2name=N'MailId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_mailsettings', @level2type=N'COLUMN',@level2name=N'MailPassword'
GO
SET IDENTITY_INSERT [dbo].[cms_mailsettings] ON
INSERT [dbo].[cms_mailsettings] ([Id], [SmtpServerIP], [SmtpServerPort], [MailId], [MailPassword]) VALUES (1, N'smtp.163.com', 8080, N'ajohn@163.com', N'12334')
SET IDENTITY_INSERT [dbo].[cms_mailsettings] OFF
/****** Object:  Table [dbo].[CMS_Log]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMS_Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Thread] [varchar](255) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[Message] [varchar](4000) NOT NULL,
	[Exception] [varchar](2000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CMS_Log] ON
INSERT [dbo].[CMS_Log] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception]) VALUES (1, CAST(0x00009A340182F20B AS DateTime), N'4516', N'ERROR', N'logger.database', N'test.logger', NULL)
INSERT [dbo].[CMS_Log] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception]) VALUES (2, CAST(0x00009A340182F228 AS DateTime), N'4516', N'ERROR', N'logger.database', N'Exception: System.DivideByZeroException
Message: 试图除以零。
Source: TestWeb
   在 TestWeb.WebForm3.Button1_Click(Object sender, EventArgs e) 位置 E:\WorkSpace\Study\TestWeb\TestWeb\WebForm3.aspx.cs:行号 54
', NULL)
INSERT [dbo].[CMS_Log] ([Id], [Date], [Thread], [Level], [Logger], [Message], [Exception]) VALUES (3, CAST(0x00009B10015BB1B6 AS DateTime), N'5536', N'ERROR', N'logger.database', N'test.logger', NULL)
SET IDENTITY_INSERT [dbo].[CMS_Log] OFF
/****** Object:  Table [dbo].[cms_breviarysettings]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cms_breviarysettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[PlusWatermark] [bit] NOT NULL,
	[WatermarkType] [bit] NULL,
	[WatermarkImage] [varchar](800) NULL,
	[ImageTransparent] [int] NULL,
	[WatermarkText] [nvarchar](50) NULL,
	[TextTransparent] [int] NULL,
	[WatermarkPosition] [int] NULL,
 CONSTRAINT [PK_cms_breviarysettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号（自动加1）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_breviarysettings', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'缩略图宽度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_breviarysettings', @level2type=N'COLUMN',@level2name=N'Width'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'缩略图高度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_breviarysettings', @level2type=N'COLUMN',@level2name=N'Height'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'添加水印' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_breviarysettings', @level2type=N'COLUMN',@level2name=N'PlusWatermark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'水印类型：图片水印,文字水印 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_breviarysettings', @level2type=N'COLUMN',@level2name=N'WatermarkType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'水印图片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_breviarysettings', @level2type=N'COLUMN',@level2name=N'WatermarkImage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图片水印透明度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_breviarysettings', @level2type=N'COLUMN',@level2name=N'ImageTransparent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'水印文字' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_breviarysettings', @level2type=N'COLUMN',@level2name=N'WatermarkText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文字水印透明度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_breviarysettings', @level2type=N'COLUMN',@level2name=N'TextTransparent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'水印位置：左上，左中，左下，中上，正中，中下，右上，右中，右下' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_breviarysettings', @level2type=N'COLUMN',@level2name=N'WatermarkPosition'
GO
SET IDENTITY_INSERT [dbo].[cms_breviarysettings] ON
INSERT [dbo].[cms_breviarysettings] ([Id], [Width], [Height], [PlusWatermark], [WatermarkType], [WatermarkImage], [ImageTransparent], [WatermarkText], [TextTransparent], [WatermarkPosition]) VALUES (1, 200, 100, 1, 1, N'', 20, N'by johnny ', 20, 5)
SET IDENTITY_INSERT [dbo].[cms_breviarysettings] OFF
/****** Object:  Table [dbo].[cms_adminrole]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_adminrole](
	[AdminRoleId] [int] IDENTITY(1,1) NOT NULL,
	[AdminId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_cms_adminrole] PRIMARY KEY CLUSTERED 
(
	[AdminRoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AdminRoleId' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminrole', @level2type=N'COLUMN',@level2name=N'AdminRoleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Admin Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminrole', @level2type=N'COLUMN',@level2name=N'AdminId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Role Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminrole', @level2type=N'COLUMN',@level2name=N'RoleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminrole', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[cms_adminrole] ON
INSERT [dbo].[cms_adminrole] ([AdminRoleId], [AdminId], [RoleId], [Sequence]) VALUES (1, 1, 1, 1)
INSERT [dbo].[cms_adminrole] ([AdminRoleId], [AdminId], [RoleId], [Sequence]) VALUES (2, 2, 2, 2)
INSERT [dbo].[cms_adminrole] ([AdminRoleId], [AdminId], [RoleId], [Sequence]) VALUES (3, 3, 4, 3)
SET IDENTITY_INSERT [dbo].[cms_adminrole] OFF
/****** Object:  Table [dbo].[cms_adminloginlog]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cms_adminloginlog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[LogoutTime] [datetime] NOT NULL,
	[LoginIP] [varchar](50) NOT NULL,
	[HosterName] [varchar](100) NULL,
	[LoginStatus] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_cms_adminloginlog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号（自动加1）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminloginlog', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'管理员名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminloginlog', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminloginlog', @level2type=N'COLUMN',@level2name=N'Password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminloginlog', @level2type=N'COLUMN',@level2name=N'LoginTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登出时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminloginlog', @level2type=N'COLUMN',@level2name=N'LogoutTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录时IP地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminloginlog', @level2type=N'COLUMN',@level2name=N'LoginIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录时机器名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminloginlog', @level2type=N'COLUMN',@level2name=N'HosterName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录状况' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_adminloginlog', @level2type=N'COLUMN',@level2name=N'LoginStatus'
GO
/****** Object:  Table [dbo].[cms_administrator]    Script Date: 11/18/2017 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cms_administrator](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [varchar](50) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Gender] [bit] NULL,
	[Tel] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[ValidFrom] [datetime] NOT NULL,
	[ValidTo] [datetime] NOT NULL,
	[IsActivated] [bit] NOT NULL,
	[LoginTimes] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedByName] [varchar](50) NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
	[UpdatedById] [int] NOT NULL,
	[UpdatedByName] [varchar](50) NOT NULL,
	[Sequence] [int] NOT NULL,
 CONSTRAINT [PK_cms_administrator] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AdminId' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'AdminId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'AdminName' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'AdminName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Password' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'Password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Full Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'FullName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gender' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tel' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'Tel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valid From' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'ValidFrom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valid To' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'ValidTo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Is Activated' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'IsActivated'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Login Times' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'LoginTimes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'CreatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Created By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'CreatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated Time' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'UpdatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'UpdatedById'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Updated By Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'UpdatedByName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sequence' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cms_administrator', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
SET IDENTITY_INSERT [dbo].[cms_administrator] ON
INSERT [dbo].[cms_administrator] ([AdminId], [AdminName], [Password], [FullName], [Gender], [Tel], [Email], [ValidFrom], [ValidTo], [IsActivated], [LoginTimes], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (1, N'admin', N'21232F297A57A5A743894A0E4A801FC3', N'johnny', 1, N'13764971002', N'20656154@qq.com', CAST(0x0000A4D000000000 AS DateTime), CAST(0x002D23E500000000 AS DateTime), 1, 617, CAST(0x00009EBF015D81D4 AS DateTime), 1, N'johnny', CAST(0x0000A4D00165F2CB AS DateTime), 1, N'admin', 1)
INSERT [dbo].[cms_administrator] ([AdminId], [AdminName], [Password], [FullName], [Gender], [Tel], [Email], [ValidFrom], [ValidTo], [IsActivated], [LoginTimes], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (2, N'bossli', N'E10ADC3949BA59ABBE56E057F20F883E', N'tian li', 1, N'sdfpoo', N'jojo@goam.com', CAST(0x00009EDD00000000 AS DateTime), CAST(0x00009F0600000000 AS DateTime), 1, 3, CAST(0x00009EE50161DDF3 AS DateTime), 1, N'admin', CAST(0x0000A59600A9EAFE AS DateTime), 1, N'admin', 2)
INSERT [dbo].[cms_administrator] ([AdminId], [AdminName], [Password], [FullName], [Gender], [Tel], [Email], [ValidFrom], [ValidTo], [IsActivated], [LoginTimes], [CreatedTime], [CreatedById], [CreatedByName], [UpdatedTime], [UpdatedById], [UpdatedByName], [Sequence]) VALUES (3, N'editor', N'E10ADC3949BA59ABBE56E057F20F883E', N'news editor', 1, N'', N'jojozhuang@gmail.com', CAST(0x00009EED00000000 AS DateTime), CAST(0x00009F4500000000 AS DateTime), 1, 1, CAST(0x00009EED01694703 AS DateTime), 1, N'admin', CAST(0x0000A59600AA1A22 AS DateTime), 1, N'admin', 3)
SET IDENTITY_INSERT [dbo].[cms_administrator] OFF
